<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--1.加入thyleafme语法-->
    <link rel="stylesheet" th:href="@{/static/css/minireset.css}" />
    <link rel="stylesheet" th:href="@{/static/css/common.css}" />
    <link rel="stylesheet" th:href="@{/static/css/cart.css}" />
    <script language="JavaScript" th:src="@{/static/script/cart.js}">

    </script>
  </head>
  <body>
    <div class="header">
      <div class="w">
        <div class="header-left">
          <!--2.-->
          <a th:href="@{/index.html}">
            <!--3.-->
            <img th:src="@{/static/img/logo.gif}" alt=""
          /></a>
          <h1>我的购物车</h1>
        </div>
        <div class="header-right">
          <!--4.-->
          <h3>欢迎<span th:text="${session.currUser.uname}">张总</span>光临尚硅谷书城</h3>
          <div class="order"><a th:href="@{/order.do(operate='getOrderList')}">我的订单</a></div>
          <div class="destory"><a href="../index.html">注销</a></div>
          <div class="gohome">
            <a href="../index.html">返回</a>
          </div>
        </div>
      </div>
    </div>
    <div class="list">
      <div class="w">

        <table>

          <thead>
            <tr>
              <th>图片</th>
              <th>商品名称</th>

              <th>数量</th>
              <th>单价</th>
              <th>金额</th>
              <th>操作</th>
            </tr>
          </thead>
          <!--5.购物车中的购物车项，需要遍历-->
          <tbody>
          <!--6.是tr遍历-->
          <!--6.1-->
            <tr th:each="cartItem : ${session.currUser.cart.cartItemMap.values()}">
              <td>
                <!--6.2-->
                <img th:src="@{|/static/uploads/${cartItem.book.bookImg}|}" />
              </td>
              <!--6.3-->
              <td th:text="${cartItem.book.bookName}">活着</td>
              <td>
                <!--7.实现+和-
                我认为：点击后需要跳转，仍是该页面所以需要在cartItemService中修改cartItem的buyCount-->
                <span class="count" th:onclick="|editCart(${cartItem.id},${cartItem.buyCount-1})|">-</span>
                <!--6.4 th:value不是th:text-->
                <input class="count-num" type="text" value="1" th:value="${cartItem.buyCount}"/>
                <span class="count" th:onclick="|editCart(${cartItem.id},${cartItem.buyCount+1})|">+</span>
              </td>
              <!--6.5-->
              <td th:text="${cartItem.book.price}">36.8</td>
              <!--6.6-->
              <td th:text="${cartItem.xj}">36.8</td>
              <td><a href="">删除12</a></td>
            </tr>
            <!--<tr>-->
              <!--<td>-->
                <!--<img src="../../static/uploads/kanjian.jpg" alt="" />-->
              <!--</td>-->
              <!--<td>看见</td>-->
              <!--<td>-->
                <!--<span class="count">-</span>-->
                <!--<input class="count-num" type="text" value="1" />-->
                <!--<span class="count">+</span>-->
              <!--</td>-->
              <!--<td>40.1</td>-->
              <!--<td>40.1</td>-->
              <!--<td><a href="">删除</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>-->
                <!--<img src="../../static/uploads/kanjian.jpg" alt="" />-->
              <!--</td>-->
              <!--<td>-->
                <!--假如书名太长了,只展示一部分书名.自动展示省略号-->
              <!--</td>-->
              <!--<td>-->
                <!--<span class="count">-</span>-->
                <!--<input class="count-num" type="text" value="1" />-->
                <!--<span class="count">+</span>-->
              <!--</td>-->
              <!--<td>40.1</td>-->
              <!--<td>40.1</td>-->
              <!--<td><a href="">删除</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>-->
                <!--<img src="../../static/uploads/kanjian.jpg" alt="" />-->
              <!--</td>-->
              <!--<td>-->
                <!--假如书名太长了,只展示一部分书名.自动展示省略号-->
              <!--</td>-->
              <!--<td>-->
                <!--&lt;!&ndash; <div> &ndash;&gt;-->
                <!--<span class="count">-</span>-->
                <!--<input class="count-num" type="text" value="100" />-->
                <!--<span class="count">+</span>-->
                <!--&lt;!&ndash; </div> &ndash;&gt;-->
              <!--</td>-->
              <!--<td>40.1</td>-->
              <!--<td>40.1</td>-->
              <!--<td><a href="">删除</a></td>-->
            <!--</tr>-->
            <!--<tr>-->
              <!--<td>-->
                <!--<img src="../../static/uploads/kanjian.jpg" alt="" />-->
              <!--</td>-->
              <!--<td>-->
                <!--假如书名太长了,只展示一部分书名.自动展示省略号-->
              <!--</td>-->
              <!--<td>-->
                <!--<span class="count">-</span>-->
                <!--<input class="count-num" type="text" value="99" />-->
                <!--<span class="count">+</span>-->
              <!--</td>-->
              <!--<td>40.1</td>-->
              <!--<td>40.1</td>-->
              <!--<td><a href="">删除</a></td>-->
            <!--</tr>-->
          </tbody>
        </table>
        <div class="footer">
          <div class="footer-left">
            <a href="#" class="clear-cart">清空购物车</a>
            <a href="#">继续购物</a>
          </div>
          <div class="footer-right">
            <!--6.7这个总数量不是购物车项，而是所有购物车项中每一个本书的数量
            因此，我们需要在cart中增加一个总数量的属性-->
            <div>共<span th:text="${session.currUser.cart.totalBookCount}">3</span>件商品</div>
            <!--6.8-->
            <div class="total-price" th:text="${session.currUser.cart.totalPrice}">总金额<span>99.9</span>元</div>
            <a class="pay" th:href="@{/order.do(operate='checkout')}" >去结账</a>
          </div>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="w">
        <div class="top">
          <ul>
            <li>
              <a href="">
                <img src="../../static/img/bottom1.png" alt="" />
                <span>大咖级讲师亲自授课</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../../static/img/bottom.png" alt="" />
                <span>课程为学员成长持续赋能</span>
              </a>
            </li>
            <li>
              <a href="">
                <img src="../../static/img/bottom2.png" alt="" />
                <span>学员真是情况大公开</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="content">
          <dl>
            <dt>关于尚硅谷</dt>
            <dd>教育理念</dd>
            <!-- <dd>名师团队</dd>
            <dd>学员心声</dd> -->
          </dl>
          <dl>
            <dt>资源下载</dt>
            <dd>视频下载</dd>
            <!-- <dd>资料下载</dd>
            <dd>工具下载</dd> -->
          </dl>
          <dl>
            <dt>加入我们</dt>
            <dd>招聘岗位</dd>
            <!-- <dd>岗位介绍</dd>
            <dd>招贤纳师</dd> -->
          </dl>
          <dl>
            <dt>联系我们</dt>
            <dd>http://www.atguigu.com</dd>
            <dd></dd>
          </dl>
        </div>
      </div>
      <div class="down">
        尚硅谷书城.Copyright ©2015
      </div>
    </div>
  </body>
</html>
