<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Axios：demo03关于json格式(服务器给客户端)</h1>
    <meta charset="UTF-8">
    <title>Title</title>
    <script language="JavaScript" src="script/vue.js"></script>
    <script language="JavaScript" src="script/axios.min.js"></script>
    <script language="JavaScript">
        //使用vue操作span标签的文本值
        window.onload=function() {
            var vue = new Vue({
                "el": "#div0",
                data: {
                    "uname": "lina",
                    "pwd": "ok",
                },
                methods: {
                    axios02: function () {
                        axios({
                            method: "post",
                            url: "axios02.do",
                            // params: {
                            //     uname: vue.uname,
                            //     pwd: vue.pwd,
                            // }
                            data:{
                                uname: vue.uname,
                                pwd: vue.pwd,
                            }
                        }).then(function (response) {
                            var data = response.data;
                            //data：{pwd:"ok",uname:"userToJSON"}注意pwd和uname不是字符串,而是一个属性
                            console.log(data);
                            vue.uname = data.uname;
                            vue.pwd=data.pwd;

                            //此处value中的data返回的是 js object，因此可以直接点出属性
                            //如果我们获取的是一个字符串：  "{uname:\"鸠摩智\",pwd:\"ok\"}"

                            //js语言中 也有字符串和js对象之间互转的API
                            //string JSON.stringify(object)     object->string
                            //object JSON.parse(string)         string->object

                            // alert(data);

                        }).catch(function (error) {
                            console.log(error);
                        });
                    }
                },
            })
        }
    </script>
</head>
<body>
<div id="div0">
    uname:<input type="text" v-model="uname"/><br/>
    pwd:<input type="text" v-model="pwd"/><br/>
    <input type="button" @click="axios02" value="发送json格式的参数值的异步请求"/>
</div>
</body>
</html>